<script lang="ts">
export interface {{componentName}}Props {}

export interface {{componentName}}Emits {}

export interface {{componentName}}Slots {}
</script>

<script setup lang="ts">
const props = defineProps<{{componentName}}Props>();
const emits = defineEmits<{{componentName}}Emits>();
const slots = defineSlots<{{componentName}}Slots>();
</script>

<template>
  <div :class="$style.root">
  </div>
</template>

<style lang="scss" module>
.root {

}
</style>